@import '../../styles/all.scss';

.info-amount {
    &__controls {
        margin-left: 42px;
    }

    &__input-wrapper {
        margin-top: 10px;
        font-weight: $bold;
    }

    &__input {
        max-width: 160px;
        padding: 2px 10px;
        border: 1px solid $grey;
        border-radius: 20px;
        font-weight: $bold;
    }

    &__message {
        display: inline-block;
        margin-top: 20px;
        padding: 24px 32px;
        background-color: $beige;
    }

    &__message-row {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
